<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>相册</title>
    <script type="text/javascript" src="../public/javascripts/file.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="\stylesheets\navbar.css" rel="stylesheet" type="text/css" >
    <link href="\stylesheets\album.css" rel="stylesheet" type="text/css" >
    <link href="\stylesheets\form.css" rel="stylesheet" type="text/css" >
    <link rel="stylesheet" type="text/css" href="\stylesheets\fileinput.min.css">
    <script type="text/javascript" src="\javascripts\jquery.js"></script>
    <script type="text/javascript" src="\javascripts\bootstrap.min.js"></script>
    <script type="text/javascript" src="\javascripts\fileinput.min.js"></script>

</head>

<body>
<nav class="navbar navbar-fixed-top navbar-inverse navbar-default">
    <div class="container">
        <div class="navbar-header">


            <img src="\images\logo.png" style="width: 60px">
            <a class="navbar-brand" >iPHOTO</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="javascript:void(0)" onclick="home()">Home</a></li>
                <li ><a href="javascript:void(0)" onclick="hot()">Hot</a></li>
                <li ><a href="javascript:void(0)" onclick="activity()">Activity</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        My
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" onclick="friend()">Friend</a></li>
                        <li class="active"><a href="javascript:void(0)" onclick="album()">Album</a></li>
                        <li><a href="javascript:void(0)" onclick="myactivity()">Activity</a></li>
                        <li><a href="javascript:void(0)" onclick="imformation()">Information</a></li>
                    </ul>
                </li>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>

                    </li>

                </form>


            </ul>

        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="jumbotron">
    <img id="profile"  width="150px" class="img-circle">
    <h1 id="hello">Hello, User!</h1>
    <p>这个用户很懒什么都没留下。</p>
</div>

<div class="container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-16 col-sm-12">
            <div class="list-group">
                <form enctype="multipart/form-data">
                <button id="operate" type="button" onclick="upload()">+ New</button>
                </form>
            </div>
            <input type="text" placeholder="AlbumName" id="albumName">
            <div id="upload" style="margin-bottom: 20px">

            </div>
            <div class="row" id="album">

            </div><!--/row-->

        </div><!--/.col-xs-12.col-sm-9-->




</div><!--/row-->



</div><!--/.container-->

<script>
var count=0;

    function upload() {
        if(count==0) {
            $('#upload').html(
                "                <div class=\"htmleaf-container\">\n" +
                "                    <div class=\"wrapper\">\n" +
                "                        <div class=\"container\">\n" +
                "                            <form class=\"form\" enctype=\"multipart/form-data\" method=\"post\">\n" +
                "                                <input type=\"file\"  id=\"input\" name=\"album\" multiple class=\"file-loading\"/>\n" +
                "                            </form>\n" +
                "                        </div>\n" +
                "                    </div>\n" +
                "                </div>");
            $("#input").fileinput({
                language: 'zh', //设置语言
                allowedFileExtensions: ['png', 'gif', 'jpg'],//接收的文件后缀
                uploadExtraData:{"name": getQueryString("name"), "album":$("#albumName").val()},
                uploadUrl: '/album/upload',
                uploadAsync: true, //默认异步上传
                showUpload: true, //是否显示上传按钮
                showRemove: true, //显示移除按钮
                showPreview: true, //是否显示预览
                showCaption: true,//是否显示标题
//            browseClass: "btn btn-primary", //按钮样式
                dropZoneEnabled: true,//是否显示拖拽区域
                //minImageWidth: 50, //图片的最小宽度
                //minImageHeight: 50,//图片的最小高度
                //maxImageWidth: 1000,//图片的最大宽度
                //maxImageHeight: 1000,//图片的最大高度
                //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
                //minFileCount: 0,
                maxFileCount: 1, //表示允许同时上传的最大文件个数
                enctype: 'multipart/form-data',
                validateInitialCount: true,
                previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
//            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
            });
            count=1;
        }else{
            $('#upload').html("");
            count=0;
        }
    }
if(getQueryString("friend")!=null){
    var para = {
        username: getQueryString("friend")
    };
    document.getElementById("hello").innerHTML=getQueryString("friend");
    $('#operate').text("Follow");
    $('#operate').attr('onclick','');
    $('#albumName').remove();
}
else{
    var para = {
        username: getQueryString("name")

    };
    document.getElementById("hello").innerHTML="Hello,"+getQueryString("name")+"!";
}

$.ajax({
    type: 'POST',
    url: '/imformation/profile',
    async: false,
    data: para,
    dataType: "json",
    success: function(data) {
        if(data.success==1) {
            document.getElementById("profile").src=data.src;
        }
        else{
            //alert(data.result);
        }
    } // 注意不要在此行增加逗号
});

    function hot() {
        location.href = "/hot?name="+getQueryString("name");
    }
    function home() {
        location.href = "/home?name="+getQueryString("name");
    }
    function friend() {
        location.href = "/friend?name="+getQueryString("name");
    }
    function album() {
        location.href = "/album?name="+getQueryString("name");
    }
    function activity() {
        location.href = "/activity?name="+getQueryString("name");
    }
    function myactivity() {
        location.href = "/myactivity?name="+getQueryString("name");
    }
    function imformation() {
        location.href = "/imformation?name="+getQueryString("name");
    }
        $.ajax({
            type: 'POST',
            url: '/album/photo',
            async: false,
            data:para,
            dataType: "json",
            success: function(data) {
                var content="";
                for(var i =1;i<data.paths.length;i++){
                    var src=data.paths[i];
                    console.log(src);
                    content+="<div class=\"col-xs-6 col-lg-4\">";
                    content+="<img id=\"cover\" class=\"album\"";
                    content+="src="+src+">";
                    content+=  "<p><a href=";
                    if(getQueryString("friend")!=null){
                        content+="/photo?name="+getQueryString("name")+"&friend="+getQueryString("friend")+"&album="+data.names[i];
                    }else {
                        content+="/photo?name="+getQueryString("name")+"&album="+data.names[i];
                    }

                    content+=" class=\"btn\"  role=\"button\">" ;
                    content+=data.names[i]+"</a></p>\n";
                    content+= "</div><!--/.col-xs-6.col-lg-4-->";

                }
                $('#album').html(content);
            }
        });

    function getQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }
</script>


</body>
</html>
