<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>朋友</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="offcanvas.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="\stylesheets\navbar.css" rel="stylesheet" type="text/css" >
    <link href="\stylesheets\album.css" rel="stylesheet" type="text/css" >
</head>

<body>
<nav class="navbar navbar-fixed-top navbar-inverse navbar-default">
    <div class="container">
        <div class="navbar-header">


            <img src="\images\logo.png" style="width: 60px">
            <a class="navbar-brand" >iPHOTO</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="/home">Home</a></li>
                <li ><a href="/hot">Hot</a></li>
                <li ><a href="/activity">Activity</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        user
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="/friend">Friend</a></li>
                        <li><a href="/album">Album</a></li>
                        <li><a href="/myActivity">Activity</a></li>
                    </ul>
                </li>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>

                    </li>

                </form>


            </ul>

        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="jumbotron">
    <h1> 照片</h1>
    <h1>Hello, User!</h1>
    <p>这个用户很懒什么都没留下。</p>
</div>

<div class="container" style="margin:0 auto; width: 300px;" >



            <ul class="nav nav-tabs"  style="margin:0 auto; width: 300px;">
                <li class="active"><a href="#">我关注谁</a></li>
                <li><a href="#">谁关注我</a></li>

            </ul>


    <table border="0"  >
        <tr>
            <th><img src="\images\logo.png" width="150px"></th>
            <th>名字<br>这个用户很懒</th>
        </tr>
        <tr>
            <th><img src="\images\logo.png" width="150px"></th>
            <th>名字<br>这个用户很懒</th>
        </tr>
        <tr>
            <th><img src="\images\logo.png" width="150px"></th>
            <th>名字<br>这个用户很懒</th>
        </tr>
    </table>





</div><!--/.container-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="offcanvas.js"></script>
</body>
</html>
