<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>朋友</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">



    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="\stylesheets\navbar.css" rel="stylesheet" type="text/css" >
    <link href="\stylesheets\album.css" rel="stylesheet" type="text/css" >
    <link href="\stylesheets\friend.css" rel="stylesheet" type="text/css" >
    <script type="text/javascript" src="\javascripts\jquery.js"></script>
    <script type="text/javascript" src="\javascripts\bootstrap.min.js"></script>
    <script type="text/javascript" src="\javascripts\fileinput.min.js"></script>
</head>

<body>

<nav class="navbar navbar-fixed-top navbar-inverse navbar-default">
    <div class="container">
        <div class="navbar-header">


            <img src="\images\logo.png" style="width: 60px">
            <a class="navbar-brand" >iPHOTO</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="javascript:void(0)" onclick="home()">Home</a></li>
                <li ><a href="javascript:void(0)" onclick="hot()">Hot</a></li>
                <li ><a href="javascript:void(0)" onclick="activity()">Activity</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        My
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="javascript:void(0)" onclick="friend()">Friend</a></li>
                        <li><a href="javascript:void(0)" onclick="album()">Album</a></li>
                        <li><a href="javascript:void(0)" onclick="myactivity()">Activity</a></li>
                        <li><a href="javascript:void(0)" onclick="imformation()">Information</a></li>
                    </ul>
                </li>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>

                    </li>

                </form>


            </ul>

        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="jumbotron">
    <img id="profile"  width="150px" class="img-circle">
    <h1 id="hello">Hello, User!</h1>
    <p>这个用户很懒什么都没留下。</p>
</div>


<div class="container" style="margin:0 auto; width: 300px;" >


    <div class="btn-group btn-group-lg">
        <button id="following"  type="button" onclick="following()">following</button>
        <button id="follower"  type="button" onclick="follower()">follower</button>
    </div>


    <table border="0"  >
        <div id="friend">

        </div>
    </table>





</div><!--/.container-->

<script>
    var para = {
        username: getQueryString("name")
    };
    function following() {
        $.ajax({
            type: 'POST',
            url: '/friend/following',
            async: false,
            data: para,
            dataType: "json",
            success: function(data) {
                $('#follower')
                var content="";
                for(var i=0;i<data.names.length;i++){
                    content+="<tr style='font-size: 18px'>";
                    content+="<th><img src=" ;
                    content+=data.pros[i]+" width=\"150px\" class=\"img-circle\"></th>" ;
                    content+="<th ><a style='color:#53e3a6' href='" ;
                    content+="/album?name="+getQueryString("name")+"&friend="+data.names[i]+"'>" ;
                    content+=data.names[i]+"</a><br><p style='color:#ffbbbc'>这个用户很懒</p></th>\n" ;
                    content+="</tr>";
                    content+="<br>";
                }
                $('#friend').html(content);
            } // 注意不要在此行增加逗号
        });
    }

    function follower() {
        $.ajax({
            type: 'POST',
            url: '/friend/follower',
            async: false,
            data: para,
            dataType: "json",
            success: function(data) {
                var content="";
                for(var i=0;i<data.names.length;i++){
                    content+="<tr style='font-size: 18px'>";
                    content+="<th><img src=" ;
                    content+=data.pros[i]+" width=\"150px\" class=\"img-circle\"></th>" ;
                    content+="<th ><a style='color:#53e3a6'>" ;
                    content+=data.names[i]+"</a><br><p style='color:#ffbbbc'>这个用户很懒</p></th>\n" ;
                    content+="</tr>";
                    content+="<br>";
                }
                $('#friend').html(content);
            } // 注意不要在此行增加逗号
        });
    }
    following();
    $.ajax({
        type: 'POST',
        url: '/imformation/profile',
        async: false,
        data: para,
        dataType: "json",
        success: function(data) {
            if(data.success==1) {
                document.getElementById("profile").src=data.src;
            }
            else{
                alert(data.result);
            }
        } // 注意不要在此行增加逗号
    });
    document.getElementById("hello").innerHTML="Hello,"+getQueryString("name")+"!";
    function hot() {
        location.href = "/hot?name="+getQueryString("name");
    }
    function friend() {
        location.href = "/friend?name="+getQueryString("name");
    }
    function album() {
        location.href = "/album?name="+getQueryString("name");
    }
    function home() {
        location.href = "/home?name="+getQueryString("name");
    }
    function activity() {
        location.href = "/activity?name="+getQueryString("name");
    }
    function myactivity() {
        location.href = "/myactivity?name="+getQueryString("name");
    }
    function imformation() {
        location.href = "/imformation?name="+getQueryString("name");
    }
    function getQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }

</script>
</body>
</html>
