<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>首页</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <![endif]-->
    <link href="\stylesheets\navbar.css" rel="stylesheet" type="text/css" >
    <link href="\stylesheets\album.css" rel="stylesheet" type="text/css" >
    <link href="\stylesheets\love.css" rel="stylesheet" type="text/css" >
    <script type="text/javascript" src="\javascripts\jquery.js"></script>
    <script type="text/javascript" src="\javascripts\bootstrap.min.js"></script>


</head>

<body>
<nav class="navbar navbar-fixed-top navbar-inverse navbar-default">
    <div class="container">
        <div class="navbar-header">


            <img src="\images\logo.png" style="width: 60px">
            <a class="navbar-brand" >iPHOTO</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="javascript:void(0)" onclick="home()">Home</a></li>
                <li class="active"><a href="javascript:void(0)" onclick="hot()">Hot</a></li>
                <li ><a href="javascript:void(0)" onclick="activity()">Activity</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        My
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" onclick="friend()">Friend</a></li>
                        <li><a href="javascript:void(0)" onclick="album()">Album</a></li>
                        <li><a href="javascript:void(0)" onclick="myactivity()">Activity</a></li>
                        <li><a href="javascript:void(0)" onclick="imformation()">Information</a></li>
                    </ul>
                </li>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>

                    </li>

                </form>


            </ul>

        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<br>
<br>



<div class="jumbotron">
    <h1>iPHOTO</h1>
    <p>Explore Beautiful, free pictures.</p>
    <p>Gifted by the world’s most generous community of photographers. </p>
</div>



<div id="content">
<!--<img src="\images\1.jpg" style=" table-layout: fixed;width: 100%; margin-top: 10px;">-->

<!--<table style="margin-top: 5px;margin-bottom: 10px" id="hot">-->
    <!--<tr>-->
        <!--<th><button style='margin-left: 5px'><span class="glyphicon glyphicon-heart"></span>1940</button></th>-->
        <!--<th style="width: 43%"></th>-->
        <!--<th> <img src="\images\logo.png" style="width: 60px;align:center" class="img-circle"></th>-->
        <!--<th style="width: 1%"></th>-->
        <!--<th> <p>juaner</p></th>-->
        <!--<th style="width: 43%"></th>-->
        <!--<th><button style="float:right">Download</button></th>-->
    <!--</tr>-->
<!--</table>-->
</div>



<div  align="center" style="margin-top: 40px"><img src="\images\logo.png" style="width: 60px">
    <p>Make something awesome</p></div>



</div><!--/.container-->



<script type="text/javascript">
    function hot() {
        location.href = "/hot?name="+getQueryString("name");
    }
    function friend() {
        location.href = "/friend?name="+getQueryString("name");
    }
    function album() {
        location.href = "/album?name="+getQueryString("name");
    }
    function home() {
        location.href = "/home?name="+getQueryString("name");
    }
    function activity() {
        location.href = "/activity?name="+getQueryString("name");
    }
    function myactivity() {
        location.href = "/myactivity?name="+getQueryString("name");
    }
    function imformation() {
        location.href = "/imformation?name="+getQueryString("name");
    }
    $.ajax({
        type: 'POST',
        url: '/hot/photo',
        async: false,
        dataType: "json",
        success: function(id) {
            $(document).ready(function(){
                console.log(id.ids.length);
                var range = 50;             //距下边界长度/单位px
                var elemt = 50;           //插入元素高度/单位px
                var maxnum = id.ids.length;            //设置加载最多次数
                var num = 0;
                var totalheight = 0;
                var main = $("#content");                     //主体元素
                $(window).scroll(function(){
                    var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)
                    //console.log("滚动条到顶部的垂直高度: "+$(document).scrollTop());
                    //console.log("页面的文档高度 ："+$(document).height());
                    //console.log('浏览器的高度：'+$(window).height());
                    totalheight = parseFloat($(window).height()) + parseFloat(srollPos);
                    if(($(document).height()-range) <= totalheight  && num != maxnum) {
                        var pa={
                            id:id.ids[num],
                            username:getQueryString("name")
                        }
                        $.ajax({
                            type: 'POST',
                            url: '/onephoto/onephoto',
                            async: false,
                            data:pa,
                            dataType: "json",
                            success: function(data) {
                                var content="";
                                content+="<img src=\"" ;
                                content+= id.paths[num]+"\" style=\" table-layout: fixed;width: 100%; margin-top: 10px;\">\n" ;
                                content+=    "<table style=\"margin-top: 5px;margin-bottom: 10px\">\n" ;
                                content+=   "    <tr>\n" ;
                                if(data.isloved>0) {
                                    content += "        <th><button id='loved' style='margin-left: 5px' onclick='unlove(" ;
                                    content += id.ids[num]+")'><span class=\"glyphicon glyphicon-heart\"></span>";
                                    content += id.loves[num] + "</button></th>\n";
                                }
                                else{
                                    content += "        <th><button id='unloved' style='margin-left: 5px' onclick='love(" ;
                                    content += id.ids[num]+    ")'><span class=\"glyphicon glyphicon-heart\"></span>";
                                    content += id.loves[num] + "</button></th>\n";
                                }
                                content+=   "        <th style=\"width: 40%\"></th>\n" ;
                                content+=    "        <th> <img src=\"" ;
                                content+=id.pros[num]+"\" style=\"width: 60px;align:center\" class=\"img-circle\"></th>\n" ;
                                content+=   "        <th style=\"width: 1%\"></th>\n" ;
                                content+=    "        <th> <a href='" ;
                                if(id.users[num]!=getQueryString("name")) {
                                    content +="/album?name="+getQueryString("name")+"&friend="+id.users[num]+ "'>";
                                }
                                else{
                                    content +="/album?name="+getQueryString("name")+"'>";
                                }
                                content+=id.users[num]+"</a></th>\n" ;
                                content+=    "        <th style=\"width: 50%\"></th>\n" ;
                                content+=    "    </tr>\n" ;
                                content+=    "</table>";
                                main.append(content);
                                num++;

                            }
                        });



                    }
                });
            });
        }
    });
    function love(id) {
        var lpa={
            id:id,
            username:getQueryString("name")
        }
        $.ajax({
            type: 'POST',
            url: '/onephoto/love',
            async: false,
            data:lpa,
            dataType: "json",
            success: function(data) {
                location.href = "/hot?name=" + getQueryString("name")  ;



            }
        });
    }

    function unlove(id) {
        var lpa={
            id:id,
            username:getQueryString("name")
        }
        $.ajax({
            type: 'POST',
            url: '/onephoto/unlove',
            async: false,
            data:lpa,
            dataType: "json",
            success: function(data) {
                if(data.success=="1") {
                    location.href = "/hot?name=" + getQueryString("name")  ;

                }

            }
        });
    }

    function getQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }
</script>
</body>
</html>
