<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>首页</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


    <![endif]-->
    <link href="\stylesheets\navbar.css" rel="stylesheet" type="text/css" >
    <link href="\stylesheets\album.css" rel="stylesheet" type="text/css" >
    <link href="\stylesheets\activity.css" rel="stylesheet" type="text/css" >
    <script type="text/javascript" src="\javascripts\jquery.js"></script>
    <script type="text/javascript" src="\javascripts\bootstrap.min.js"></script>


</head>

<body>
<nav class="navbar navbar-fixed-top navbar-inverse navbar-default">
    <div class="container">
        <div class="navbar-header">


            <img src="\images\logo.png" style="width: 60px">
            <a class="navbar-brand" >iPHOTO</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="javascript:void(0)" onclick="home()">Home</a></li>
                <li ><a href="javascript:void(0)" onclick="hot()">Hot</a></li>
                <li><a href="javascript:void(0)" onclick="activity()">Activity</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        My
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" onclick="friend()">Friend</a></li>
                        <li><a href="javascript:void(0)" onclick="album()">Album</a></li>
                        <li class="active"><a href="javascript:void(0)" onclick="myactivity()">Activity</a></li>
                        <li ><a href="javascript:void(0)" onclick="imformation()">Information</a></li>
                        <li><a href="javascript:void(0)" onclick="logout()">logout</a></li>
                    </ul>
                </li>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>

                    </li>

                </form>


            </ul>

        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->



<br>

<div class="jumbotron">
    <img id="profile"  width="150px" class="img-circle">
    <h1 id="hello">Hello, User!</h1>
    <p id="des">这个用户很懒什么都没留下。</p>
</div>

<div id="editActivity" style="margin-bottom: 20px">

</div>

<h1 style="text-align: center">The Activity I hold</h1>
<div class="col-xs-16 col-sm-12" style="margin-bottom: 140px">
    <p class="pull-right visible-xs">
    </p>

    <div class="row" id="heldactivity">

    </div><!--/row-->
</div><!--/.col-xs-12.col-sm-9-->

<h1 style="text-align: center">The Activity I Join</h1>
<div class="col-xs-16 col-sm-12" style="margin-bottom: 140px">
    <p class="pull-right visible-xs">
    </p>
    <div class="row" id="joinedactivity">

    </div><!--/row-->
</div><!--/.col-xs-12.col-sm-9-->





</div><!--/.container-->



<script type="text/javascript">
    var para = {
        username: getQueryString("name")
    };
    $.ajax({
        type: 'POST',
        url: '/imformation/profile',
        async: false,
        data: para,
        dataType: "json",
        success: function(data) {
            if(data.success==1) {
                if(data.src!=null){
                    document.getElementById("profile").src=data.src;
                }else{
                    document.getElementById("profile").src="/profile/pro.png";
                }
                if(data.des!=null){
                    document.getElementById("des").innerText=data.des;
                }else{
                    document.getElementById("des").innerText="This user is lazy and writes nothing~";
                }
            }
            else{
                //alert(data.result);
            }
        } // 注意不要在此行增加逗号
    });
    document.getElementById("hello").innerHTML="Hello,"+getQueryString("name")+"!";
    var count=0;
    function edit(id) {
        if(count==0) {
            $('#editActivity').html("<input type=\"text\" placeholder=\"activityName\" id=\"activityName\">\n" +
                "                <input type=\"text\" placeholder=\"activityTime:YY-MM-DD HH:MM\" id=\"activityTime\">\n" +
                "                <input type=\"text\" placeholder=\"activityPlace\" id=\"activityPlace\">\n" +
                "                <button id=\"operate\" type=\"button\" onclick=\"upload(" +id+
                ")\" style=\"width: 400px\">Upload</button>");
            count=1;
        }else{
            $('#editActivity').html("");
            count=0;
        }
    }
    function upload(id) {
        var params={
            name:$('#activityName').val(),
            time:$('#activityTime').val(),
            place:$('#activityPlace').val(),
            id:id
        }
        $.ajax({
            type: 'POST',
            url: '/myactivity/edit',
            async: false,
            data:params,
            dataType: "json",
            success: function(data) {
                if(data.success=="1"){
                    location.href = "/myactivity?name="+getQueryString("name");
                }
            }
        });
    }
    $.ajax({
        type: 'POST',
        url: '/myactivity/heldactivity',
        async: false,
        data:para,
        dataType: "json",
        success: function(data) {
            var content="";
            for(var i=0;i<data.name.length;i++){
                content+="<div class=\"col-xs-6 col-lg-4\">" ;
                content+="<img class=\"album\"  src=\"/images/logo.png\">" ;
                content+="<p>"+data.name[i]+"</p>";
                content+="<p>"+data.time[i]+"</p>";
                content+="<p>"+data.place[i]+"</p>";
                content+="<button id=\"edit\" onclick='edit(" ;
                content+=data.id[i]+")'>Edit</button>";
                content+="<button id=\"join\" onclick='del(";
                content+=data.id[i]+")'>Delete</button>";
                content+="</div><!--/.col-xs-6.col-lg-4-->";
            }
            $('#heldactivity').html(content);
        }
    });
    $.ajax({
        type: 'POST',
        url: '/myactivity/joinedactivity',
        async: false,
        data:para,
        dataType: "json",
        success: function(data) {
            var content="";
            for(var i=0;i<data.name.length;i++){
                content+="<div class=\"col-xs-6 col-lg-4\">" ;
                content+="<img class=\"album\"  src=\"/images/logo.png\">" ;
                content+="<p>"+data.name[i]+"</p>";
                content+="<p>"+data.time[i]+"</p>";
                content+="<p>"+data.place[i]+"</p>";
                content+="<button id=\"join\" onclick='delJoined(" ;
                content+= data.id[i]+")'>Delete</button>";
                content+="</div><!--/.col-xs-6.col-lg-4-->";
            }
            $('#joinedactivity').html(content);
        }
    });
    function hot() {
        location.href = "/hot?name="+getQueryString("name");
    }
    function friend() {
        location.href = "/friend?name="+getQueryString("name");
    }
    function album() {
        location.href = "/album?name="+getQueryString("name");
    }
    function home() {
        location.href = "/home?name="+getQueryString("name");
    }
    function activity() {
        location.href = "/activity?name="+getQueryString("name");
    }
    function myactivity() {
        location.href = "/myactivity?name="+getQueryString("name");
    }
    function imformation() {
        location.href = "/imformation?name="+getQueryString("name");
    }
    function logout() {
        location.href = "/";
    }
    function del(id) {
        var params={
            activityId:id
        }
        $.ajax({
            type: 'POST',
            url: '/myactivity/del',
            async: false,
            data:params,
            dataType: "json",
            success: function(data) {
                if(data.success=="1"){
                    alert("success");
                    location.href = "/myactivity?name="+getQueryString("name");
                }
            }
        });
    }
    function delJoined(id) {
        var params={
            activityId:id,
            name:getQueryString("name")
        }
        $.ajax({
            type: 'POST',
            url: '/myactivity/delJoined',
            async: false,
            data:params,
            dataType: "json",
            success: function(data) {
                if(data.success=="1"){
                    alert("success");
                    location.href = "/myactivity?name="+getQueryString("name");
                }
            }
        });
    }
    function getQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }
</script>
</body>
</html>
