<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="\stylesheets\login.css">
</head>
<body>
<div class="htmleaf-container">
    <div class="wrapper">
        <div class="container">
            <img src="\images\logo.png">
            <h1>Welcome</h1>
            <form class="form">
                <input type="text" placeholder="Username" name="namer">
                <input type="password" placeholder="Password" name="passwordr">
                <input type="password" placeholder="password" name="password-repeat">
                <button type="submit" >Register</button>
            </form>
        </div>
    </div>
</div>
</body>