#albumName {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(17, 120, 46, 0.81);
    background-color: rgba(255, 255, 255, 0.2);
    width: 400px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: #53e3a6;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
}
#albumName:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
#albumName:focus {
    background-color: white;
    width: 500px;
    color: #53e3a6;
}
/*form button {*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    /*outline: 0;*/
    /*background-color: white;*/
    /*border: 0;*/
    /*padding: 10px 15px;*/
    /*margin: 0 auto 10px auto;*/
    /*display: block;*/
    /*color: #53e3a6;*/
    /*border-radius: 3px;*/
    /*width: 250px;*/
    /*cursor: pointer;*/
    /*font-size: 18px;*/
    /*-webkit-transition-duration: 0.25s;*/
    /*transition-duration: 0.25s;*/
/*}*/
/*form button:hover {*/
    /*background-color: #f5f7f9;*/
/*}*/