
.navbar-default {
    background-color: #238369;
    border-color: #2fbf98;
}
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-text {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffbbbc;
    background-color: #2fbf98;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffbbbc;
    background-color: #2fbf98;
}
.navbar-default .navbar-toggle {
    border-color: #2fbf98;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #2fbf98;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    color: #ffbbbc;
}


    .dropdown-menu > li > a {
        color: #4cd498;
    }
     .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        color: #ffbbbc;
    }
     .dropdown-menu > .active > a,
     .dropdown-menu > .active > a:hover,
     .dropdown-menu > .active > a:focus {
        color: #ffbbbc;
        background-color: #2fbf98;
    }

/*@media (max-width: 767px) {*/
    /*.dropdown-menu > li > a {*/
        /*color: #ecf0f1;*/
    /*}*/
    /*.navbar-default .navbar-nav .dropdown .dropdown-menu > li > a:hover,*/
    /*.dropdown-menu > li > a:focus {*/
        /*color: #ffbbbc;*/
    /*}*/
    /*.navbar-default .navbar-nav .dropdown .dropdown-menu > .active > a,*/
    /*.navbar-default .navbar-nav .dropdown .dropdown-menu > .active > a:hover,*/
    /*.navbar-default .navbar-nav .dropdown .dropdown-menu > .active > a:focus {*/
        /*color: #ffbbbc;*/
        /*background-color: #2fbf98;*/
    /*}*/
/*}*/